@{
    <br />
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>

<address>
    Fernando Alves Nascimento<br />
    Ribeirão Preto, SP<br />
    RA: 210020<br />
    Email: fernando.all6909@gmail.com
</address>

<address>
    Jullia Reis Weber<br />
    Ribeirão Preto, SP<br />
    RA: 210031<br />
    Email: weberjullia444@gmail.com
</address>